.footer {
    border: 0;
    border-top: 8px solid $blue;
    @include border-radius(0);
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    @media only screen and (max-width: 767px) {
        padding: 15px;
    }
    #block-fussbereich {
        a {
            padding: 0 0 5px 0;
            color: $blue;
            background: transparent;
            &:hover {
                opacity: .6;
            }
        }
        margin-bottom: 1em;
    }
    #block-webform {

        position: relative;
        .form-actions {
            position: absolute;
            right: 0;
            top: 0;
            button {
                margin-right: 0;
            }
        }
    }
    #block-closure {
        margin-top: 1em;
        img {
            max-width: 150px;
        }
    }
    h2 {
        font-size: 1em;
        margin: 0 0 .5em 0;
    }
    button {
        &.form-submit {
            position: relative;
            background: url(../img/arrow.png) no-repeat center left $blue;
            background-size: 22px;
            padding-left: 26px;
            color: #fff;
            text-indent: -9999em;
            padding-left: 11px;
            padding-right: 11px;
            border: 1px solid $blue;
            border-width: 1px 10px;
            &:hover {
                background-image: url(../img/arrow-turquoise.png);
                background-color: $turquoise;
                border-color: $turquoise;
            }
        }
    }
}

.to-top {
    display: block;
    opacity: 0;
    width: 49px;
    height: 25px;
    background: url(../img/up.svg) no-repeat top left;
    background-size: 49px;
    position: fixed;
    z-index: 111;
    bottom: 30px;
    right: 30px;
    text-indent: -9999em;
    .scrolled & {
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
    @media (max-width: 767px) { /* smaller sm */
        background-color: #fff;
        background-size: 25px;
        background-position: 10px 10px;
        padding: 10px;
        width: 45px;
        height: 33px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }
}