html, body {
    background: $background;
    font-size: 15px;
    color: $text;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin-top: 0 !important;
}

::selection {
    background: $blue;
    color: #fff;
}
::-moz-selection {
    background: $blue; /* Firefox */
    color: #fff;
}

/* Links */
a:link, a:visited {
    text-decoration: none;
    @include transition(all .3s ease-in-out);
}

a:hover, a:active {
    text-decoration: none;
}

h1, .h1 {
    font-size: 26px;
    font-weight: 600;
    margin-top: 0;
}

.form-control {
    border: 1px solid $blue;
    background: $blue;
    @include border-radius(0);
    color: #fff;
}
.form-submit {
    @include border-radius(0);
}
.form-item {
    position: relative;
}
.webform-submission-form {
    position: relative;
}

.field--name-webform {
    margin-top: 30px;
}

.bef-exposed-form .form--inline > .form-item.form-item-sort-bef-combine {
    float: right;
    .select-wrapper {
        margin-right: 0;
    }
}