.masonry-layout {
  margin: 0px !important;
  padding: 0px !important;
  width: 100%;
}

.masonry-layout .masonry-item {
  width: 30.5%;
  background-color: #f6f6f2;
  border: 1px solid #DDDDDD;
  margin: 0.5%;
  padding: 0.7%
}